
<form action="/users/new" method="post">

  <label for="username">
    Username: <input name="username" type="text">
  </label>

  <label for="email">
    Email: <input name="email" type="email">
  </label>

  <label for="password">
    Password: <input name="password" type="password">
  </label>

  <label for="confirm_password">
    confirm_password: <input name="confirm_password" type="password">
  </label>

  <input type='submit' value='add_user'>

</form>
