<!DOCTYPE html>

<form class="" action="/spaces/temp" method="post">
  <input type="text" name="name" placeholder="please input name">
  <input type="text" name="description" placeholder="please input details">
  <input type="text" name="price" placeholder="please enter a price">
  <input type="submit" name="Create" value="Create">
</form>
