<!DOCTYPE html>
<html>
  <h1> Available Rentals </h1>
  <head>



  </head>


  <body>
    <a href="/spaces/new">create a space</a>
    <link rel="stylesheet" href="/css/master.css" media="screen" title="no title" charset="utf-8">
    <ul id='space'>
      <% @space.each do |space| %>
    <li>
      Name: <%= space.name %><br>
      Description:   <%= space.description   %><br>
      Price: <%= space.price %>
    </li>
      <input type="button" name="name" value="Book">
  <% end %>
    </ul>
  </body>

</html>
