<!DOCTYPE html>
<html>
  <h1> Available Rentals </h1>
  <head>



  </head>


  <body>
    <a href="/spaces/new">create a space</a>
    <!-- <link rel="stylesheet" href="/css/master.css" media="screen" title="no title" charset="utf-8"> -->
    <dl id='space'>
      <% @space.each do |space| %>
      <dt>Name: <%= space.name %><br>
      <dd>Description:   <%= space.description   %><br>
      <dd>Price: <%= space.price %><br>
      <!-- <input type="button" name="name" value="Book" > -->
      <a href="/spaces/:id">Book</a>
  <% end %>
    </dl>
  </body>

</html>
